repos:
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: 2.4.3
  hooks:
    - id: pyproject-fmt

ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci
    autofix_prs: false
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: monthly
    skip: []
    submodules: false
