language: python

sudo: false

addons:
  apt:
    packages:
      - libhdf5-serial-dev
      - netcdf-bin
      - libnetcdf-dev

env:
  global:
    - DEPENDS="numpy cython"
    - NO_NET=1

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"

matrix:
  include:
    # Absolute minimum dependencies.
    - python: 2.6
      env:
        - DEPENDS="numpy==1.7.0 cython==0.19 ordereddict==1.1"
    # Test without Cython installed.
    - python: 2.6
      env:
        - DEPENDS="numpy ordereddict"

notifications:
  email: false

before_install:
  - pip install $DEPENDS

install:
  - python setup.py build
  - python setup.py install

script:
  - cd test
  - python run_all.py
