recursive-include docs *
recursive-include ports *
include MANIFEST.in
include README
include README.macosx
include COPYING
include Changelog
include setup.cfg.template
include netCDF4.pyx
include netCDF4_utils.py
include netCDF4.pxi
include netCDF4.c
include utils.pyx
include constants.pyx
include examples/*py
include test/*py
include utils/nc3tonc4
include utils/nc4tonc3
include utils/ncinfo
include netcdftime.py
