include docs/index.html
recursive-include man *
recursive-include external *
include MANIFEST.in
include README.htmldocs
include Changelog
include setup.cfg
include examples/*py
include examples/README.md
exclude examples/data
include test/*py
include test/*nc
include src/netCDF4/__init__.py
include src/netCDF4/_netCDF4.pyx
exclude src/netCDF4/_netCDF4.c
include src/netCDF4/utils.py
include src/netCDF4/plugins/empty.txt
include include/netCDF4.pxi
include include/mpi-compat.h
include include/membuf.pyx
include include/netcdf-compat.h
include include/no_parallel_support_imports.pxi.in
include include/parallel_support_imports.pxi.in
include *.md
include *.py
include *.release
include *.sh
include LICENSE
