recursive-include docs *
recursive-include man *
include MANIFEST.in
include Changelog
include setup.cfg
include examples/*py
include examples/README.md
include test/*py
include test/*nc
include netCDF4/__init__.py
include netCDF4/_netCDF4.pyx
include netCDF4/utils.py
include include/netCDF4.pxi
include include/mpi-compat.h
include include/membuf.pyx
include *.md
include *.py
include *.release
include *.sh
include LICENSE
